.ComponentEditor-Root {
  background-color: darkgray;
  width: 250px;
  overflow: hidden;
  padding: 5px;
}

.BackToPageSettings {
  color: #ebebeb;
  text-decoration: none;
}

.BackToPageSettings:hover {
  color: white;
  text-decoration: underline;
}