.Editor-root {
  background: #282a36;
  color: #fff;
  position: absolute;
  height: 80%;
  width: 80%;
  margin: 5% 5% 5% 200px;
  box-shadow: 0 9px 24px rgba(0, 0, 0, 0.3), 0 7px 30px rgba(0, 0, 0, 0.22);
  border-radius: 2px;
  padding: 10px;
}

.Editor-container {
  flex: 1;
}